<h2>Update existing request</h2>

<div class="row clearfix" style="margin-top:10px;">
  <div class="col-sm-12">
    <div class="form-group form-float">
      <div class="form-line">
        <label for="selectedProcessId" class="form-label">Select request</label>
        <select id="selectedProcessId" type="text" name="Process" [(ngModel)]="selectedProcessId" (change)="onSelectedProcessChanged()">
          <ng-template ngFor let-process [ngForOf]="processIds" let-roleIndex="reqIndex">
            <option value="{{process}}">{{process}}</option>
          </ng-template>
        </select>
      </div>
      <!-- <div class="form-line">
        <label for="state" class="form-label">State</label>
        <input id="state" type="text" name="State" [(ngModel)]="state">
      </div> -->
    </div>
  </div>
</div>

<div class="row clearfix" style="margin-top:10px;">
  <div class="col-sm-12">
    <div class="form-group form-float">
      <div class="form-line">
        <label for="selected-user" class="form-label">User</label>
        <select id="selected-user" type="text" name="User" [(ngModel)]="selectedUser" (change)="onSelectedUserChanged()">
          <ng-template ngFor let-user [ngForOf]="users" let-roleIndex="userIndex">
            <option [ngValue]="user">{{user.Name}}</option>
          </ng-template>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="row clearfix" style="margin-top:10px;">
  <ng-container *ngFor="let command of commands">
    <button (click)="fireCommand(command)">{{command.CommandName}}</button>
    &nbsp;
  </ng-container>
</div>