<h2>Create New Request</h2>
<br>

<div class="modal-body">
  <div role="tabpanel" class="tab-pane animated fadeIn active" id="document-details">
    <div class="row clearfix" style="margin-top:10px;">
      <div class="col-sm-12">
        <div class="form-group form-float">
          <div class="form-line">
            <label for="scheme" class="form-label">Workflow</label>
            <select id="scheme" type="text" name="Scheme" [(ngModel)]="scheme">
              <ng-template ngFor let-scheme [ngForOf]="schemes" let-roleIndex="index">
                <option value="{{scheme}}">{{scheme}}</option>
              </ng-template>
            </select>
          </div>
          <!-- <div class="form-line">
            <label for="state" class="form-label">State</label>
            <input id="state" type="text" name="State" [(ngModel)]="state">
          </div> -->
        </div>
      </div>
    </div>

    <div class="row clearfix" style="margin-top:10px;">
      <div class="col-sm-12">
        <div class="form-group form-float">
          <div class="form-line">
            <label for="selected-user" class="form-label">User</label>
            <select id="selected-user" type="text" name="User" [(ngModel)]="selectedUser">
              <ng-template ngFor let-user [ngForOf]="users" let-roleIndex="userIndex">
                <option [ngValue]="user">{{user.Name}}</option>
              </ng-template>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix" style="margin-top:10px;">
      <div class="col-sm-12">
        <div class="form-group form-float">
          <div class="form-line">
            <label for="title" class="form-label">Title</label>
            <input id="title" type="text" name="Title" [(ngModel)]="title">
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix" style="margin-top:10px;">
      <div class="col-sm-12">
        <div class="form-group form-float">
          <div class="form-line">
            <label for="leaveDays" class="form-label">No. of days</label>
            <input id="leaveDays" type="number" name="LeaveDays" [(ngModel)]="leaveDays">
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix" style="margin-top:10px;">
      <div class="col-sm-12">
        <div class="form-group form-float">
          <div class="form-line">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" type="text" name="Description" [(ngModel)]="description"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row clearfix" style="margin-top:10px">
    <button (click)="createRequest()">Create New Request</button>
  </div>
</div>